<div class="A-Form">
  <h2 class="a-h2 a-h2-formsection">Commençons à travailler</h2>
  <h2 class="a-h2 a-right a-h2-formsection">ensemble</h2>
  <form class="a-form-wrap a-label-text a-input-inline">
    <span>
      <label for="a-name">Je suis<input type="text" id="a-name"></label>
      <label for="a-entreprise">de l'entreprise<input type="text" id="a-entreprise"></label>
      <label>.</label>
      <label for="a-tel">Vous pouvez me joindre au numéro<input type="tel" id="a-tel"></label>
      <label for="a-email">et mon email est <input type="email" id="a-email"></label>
      <label>.</label></span
    >
    <label for="a-quel-service"
      >Et si je vous contact aujourd’hui c’est car je souhaite :
      <label><input type="radio" name="a-quel-service" value="a-radio-create">Créer une boutique</label>
      <label><input type="radio" name="a-quel-service" value="a-radio-remake">Refaire ma boutique</label>
      <label
        ><input type="radio" name="a-quel-service" value="a-radio-integrate">Intégrer des outils à ma boutique</label
      >
      <label><input type="radio" name="a-quel-service" value="a-autre">Autre</label>
      <label for="a-message">Pour tout vous dire, <textarea id="a-message" name="message"></textarea></label>
    </label>
  </form>

  <div class="a-header-bottom">
    <svg class="a-responsive-svg a-svg-logo-ploceus">
      <use xlink:href="#a-svg-logo-ploceus"></use>
    </svg>
    <a class="a-inline" link="mailto=tino@ploceus.fr">
      <p class="a-a a-a-helvetica">Vous préférez nous écrire ?</p>
      <p class="a-a">tino@ploceus.fr</p>
    </a>
  </div>
</div>
{% schema %}
{
  "name": "A-Form",
  "settings": [],
  "presets": [
    {
      "name": "A-Form"
    }
  ]
}
{% endschema %}
