{% render 'A-svg' %}

<div class="A-Header">
  <div>
    <div class="a-header-line">
      <h1 class="a-h1">Agence</h1>
      <svg class="a-responsive-svg a-svg-cloud1">
        <use xlink:href="#a-svg-cloud1"></use>
      </svg>
    </div>
    <div class="a-header-line a-header-line2">
      <svg class="a-responsive-svg a-svg-cloud2">
        <use xlink:href="#a-svg-cloud2"></use>
      </svg>
      <h1 class="a-h1">Shopify</h1>
    </div>
  </div>
  <svg class="a-responsive-svg a-div-svg-shop">
    <use xlink:href="#a-svg-shop"></use>
  </svg>
  <div class="a-header-bottom">
    <div class="a-inline a-only-desktop">
      <svg class="a-responsive-svg a-svg-left-angle">
        <use xlink:href="#a-svg-left-angle"></use>
      </svg>
      <p class="a-p">Ploceus - Faites construire la boutique de vos rêves</p>
      <svg class="a-responsive-svg a-svg-arrow-from-line-right">
        <use xlink:href="#arrow-from-line-right"></use>
      </svg>
    </div>
    <a class="a-inline" href="#a-form">
      <p class="a-a a-a-helvetica">Un projet?</p>
      <p class="a-a">Commençons</p>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "A-Header",
  "settings": [],
  "presets": [{ "name": "A-Header" }]
}
{% endschema %}
