<div class="A-Notice">
  <h3 class="a-h3">Pourquoi nous faire confiance ? Demandez-leur.</h3>
  <h2 class="a-h2 a-right">Notre objectif,</h2>
  <h2 class="a-h2" style="margin: -2vw 0vw;">Avoir ce genre</h2>
  <div class="a-header-bottom">
    <p class="a-a a-margin-top">Ce qu’on pense de nous</p>
    <h2 class="a-h2">de retour :</h2>
  </div>
  <h4 class="a-h4 a-h4-notice">
    Nous souhaitons, pour chaque collaboration, créer quelque chose qui vous plaise, qui fasse évoluer votre entreprise
    et qui vous donne envie de nous donner de vos nouvelles, même après la fin de nos échanges.
  </h4>
  <div class="a-notice-card">
    {% for block in section.blocks %}
      {% if block.type == 'slide' %}
        <div class="a-slidecard-container">
          <div class="a-slidecard">card 1</div>
          <div
            class="a-slidecard-logo"
            {% if block.settings.slidecard_logo %}
              style="background-image: url({{ block.settings.slidecard_logo | img_url: '1024x1024' }}); background-size: cover;"
            {% else %}
              style="background-image: url(https://cdn.shopify.com/s/files/1/0866/8695/7912/files/png-clipart-tesla-logo-transport-cars-thumbnail.png?v=1728655918); background-size: cover;"
            {% endif %}
          >
            logo
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Enregistrer le plugin ScrollTrigger de GSAP
    gsap.registerPlugin(ScrollTrigger);
    const slides = document.querySelectorAll('.a-slidecard-container');

    slides.forEach((slide) => {
      ScrollTrigger.create({
        trigger: slide,
        start: 'top 10%',
        endTrigger: '.a-notice-card',
        end: 'bottom 90%',
        markers: true,
        pin: true,
      });
    });
  });
</script>

{% schema %}
{
  "name": "A-Notice",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide notice",
      "settings": [
        {
          "type": "image_picker",
          "id": "slidecard_logo",
          "label": "Slidecard Logo"
        }
      ]
    }
  ],
  "presets": [{ "name": "A-Notice" }]
}
{% endschema %}
