<div class="A-Notice">
  <h3 class="a-h3">Pourquoi nous faire confiance ? Demandez-leur.</h3>
  <h2 class="a-h2 a-right">Notre objectif,</h2>
  <h2 class="a-h2" style="margin: -2vw 0vw;">Avoir ce genre</h2>
  <div class="a-header-bottom">
    <p class="a-a a-margin-top">Ce qu’on pense de nous</p>
    <h2 class="a-h2">de retour :</h2>
  </div>
  <h4 class="a-h4 a-h4-notice">
    Nous souhaitons, pour chaque collaboration, créer quelque chose qui vous plaise, qui fasse évoluer votre entreprise
    et qui vous donne envie de nous donner de vos nouvelles, même après la fin de nos échanges.
  </h4>
  <div class="a-notice-card">
    <div class="a-container-slidecard">
      <div class="a-slidecard a-slidecard-1">card 1</div>
      <div class="a-slidecard a-slidecard-2">card 2</div>
      <div class="a-slidecard a-slidecard-3">card 3</div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Enregistrer le plugin ScrollTrigger de GSAP
    gsap.registerPlugin(ScrollTrigger);


    });
  });
</script>

{% schema %}
{
  "name": "A-Notice",
  "settings": [],
  "presets": [{ "name": "A-Notice" }]
}
{% endschema %}
