<div class="A-Notice">
  <h3 class="a-h3">Pourquoi nous faire confiance ? Demandez-leur.</h3>
  <h2 class="a-h2 a-right">Notre objectif,</h2>
  <h2 class="a-h2" style="margin: -2vw 0vw;">Avoir ce genre</h2>
  <div class="a-header-bottom">
    <p class="a-a a-margin-top">Ce qu’on pense de nous</p>
    <h2 class="a-h2">de retour :</h2>
  </div>
  <h4 class="a-h4 a-h4-notice">
    Nous souhaitons, pour chaque collaboration, créer quelque chose qui vous plaise, qui fasse évoluer votre entreprise
    et qui vous donne envie de nous donner de vos nouvelles, même après la fin de nos échanges.
  </h4>
  <div class="a-notice-card">
    <div class="a-notice-card-left">
      {% for block in section.blocks %}
        <div
          class="a-slidecard"
          data-image-url="{{ block.settings.slide_image | img_url: '2048x2048' }}); background-size: cover;"
        >
          card {{ forloop.index }}
        </div>
      {% endfor %}
    </div>
    <div
      class="a-slidecard-logo"
      style="background-color:blue"
    >
      logo
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Enregistrer le plugin ScrollTrigger de GSAP
    gsap.registerPlugin(ScrollTrigger);
    const slides = document.querySelectorAll('.a-slidecard');
    const logoContainer = document.querySelector('.a-slidecard-logo');

    slides.forEach((slide) => {
      ScrollTrigger.create({
        trigger: slide,
        start: 'top 10%',
        endTrigger: '.a-notice-card',
        end: 'bottom 90%',
        markers: true,
        pin: true,
      });
    });

    const logos = document.querySelectorAll('.a-slidecard-logo');
    logos.forEach((logo) => {
      ScrollTrigger.create({
        trigger: logo,
        start: 'top 10%',
        endTrigger: '.a-notice-card',
        end: 'bottom 90%',
        markers: true,
        pin: true,
      });
    });

    slides.forEach((slide, index) => {
      const imageUrl = slide.getAttribute('data-image-url');

      ScrollTrigger.create({
        trigger: slide,
        start: 'top center',
        onEnter: () => {
          logoContainer.style.backgroundImage = `url(${imageUrl})`;
        },
        onEnterBack: () => {
          logoContainer.style.backgroundImage = `url(${imageUrl})`;
        },
        markers: true,
      });
    });
  });
</script>

{% schema %}
{
  "name": "A-Notice",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide notice",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Slidecard Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "A-Notice"
    }
  ]
}
{% endschema %}
