<div class="A-Notice">
  <h3 class="a-h3">Pourquoi nous faire confiance ? Demandez-leur.</h3>
  <h2 class="a-h2 a-right">Notre objectif,</h2>
  <h2 class="a-h2" style="margin: -2vw 0vw;">Avoir ce genre</h2>
  <div class="a-header-bottom">
    <p class="a-a a-margin-top">Ce qu’on pense de nous</p>
    <h2 class="a-h2">de retour :</h2>
  </div>
  <h4 class="a-h4 a-h4-notice">
    Nous souhaitons, pour chaque collaboration, créer quelque chose qui vous plaise, qui fasse évoluer votre entreprise
    et qui vous donne envie de nous donner de vos nouvelles, même après la fin de nos échanges.
  </h4>
  <div class="a-notice-card">
    <div class="a-container-slidecard">
      <div class="a-slidecard a-slidecard-1">card 1</div>
      <div class="a-slidecard a-slidecard-2">card 2</div>
    </div>
  </div>
</div>

<script>
  // Enregistrer le plugin ScrollTrigger de GSAP
  gsap.registerPlugin(ScrollTrigger);

  // Définir le zIndex de chaque élément avec la classe '.a-slidecard'
  gsap.set('.a-slidecard', {
    zIndex: (i, target, targets) => targets.length - i,
  });

  // Créer un tableau des éléments '.a-slidecard', excluant ceux avec la classe '.a-slidecard-3'
  var images = gsap.utils.toArray('.a-slidecard:not(.a-slidecard-3)');

  // Parcourir chaque image et créer une timeline pour l'animer
  images.forEach((image, i) => {
    var tl = gsap.timeline({
      scrollTrigger: {
        trigger: '.a-notice-card', // Correction du sélecteur
        start: () => 'top -' + window.innerHeight * (i + 0.5) + 'px', // Correction de la syntaxe
        end: () => '+=' + window.innerHeight + 'px', // Correction de la syntaxe
        scrub: true,
        toggleActions: 'play none reverse none',
        invalidateOnRefresh: true,
      },
    });

    // Animer la hauteur de l'image pour la réduire à 0
    tl.to(image, { height: 0 });
  });

  // ScrollTrigger pour épingler '.a-notice-card'
  ScrollTrigger.create({
    trigger: '.a-notice-card', // Correction du sélecteur
    scrub: true,
    markers: true, // Afficher des marqueurs (à désactiver en production)
    pin: true, // Epingler l'élément pendant l'animation
    start: 'top top', // Correction de la syntaxe, pas besoin de fonction ici
    end: () => '+=' + (images.length + 1) * window.innerHeight + 'px', // Correction de la syntaxe
    invalidateOnRefresh: true,
  });
</script>

{% schema %}
{
  "name": "A-Notice",
  "settings": [],
  "presets": [{ "name": "A-Notice" }]
}
{% endschema %}
