<section class="a-one-section a-one-row a-one-acenter a-one-spacebetween">
  <div class="a-one-column a-one-gap5 a-one-divcenter">
    <h1 class="a-one-h1">Offre exceptionnelle limitée* :</h1>
    <div class="a-one-gap2 a-one-column">
      <h4 class="a-one-h4 a-one-italic">1 site internet</h4>
      <h4 class="a-one-h4 a-one-italic">1 page</h4>
      <h4 class="a-one-h4 a-one-italic">3 jours</h4>
      <h4 class="a-one-h4 a-one-italic">300€</h4>
    </div>
    <div class="a-one-width100 a-one-jcenter">
      <a class="a-one-a" href="#a-one-contact">
        <h4 class="a-one-h4 a-one-button">Contact</h4>
      </a>
    </div>
  </div>

  <div>
    <img
      src="https://cdn.shopify.com/s/files/1/0866/8695/7912/files/iPhone_16_-_1.png?v=1729644470"
      class="a-one-image1"
    >
  </div>
</section>

<section class="a-one-section">
  <div>
    <h2 class="a-one-h2">Comment ça fonctionne ?</h2>
  </div>
  <div class="a-one-rowcard a-one-spacebetween a-one-marginheight10 a-one-width100 a-one-acenter">
    <div class="a-one-card">
      <h2 class="a-one-h2">Jour 1</h2>
      <div>
        <div>
          <h4 class="a-one-h4">Étape 1</h4>
          <p class="a-one-p">
            Vous remplissez un petit questionnaire pour savoir ce que doit contenir le site et me donnez les infos dont
            j’ai besoin.
          </p>
        </div>
        <div>
          <h4 class="a-one-h4">Étape 2</h4>
          <p class="a-one-p">
            24h après avoir rempli le questionnaire, je vous envoie une première maquette du futur site. Vous me faites
            tous les retours que vous souhaitez.
          </p>
        </div>
      </div>
    </div>
    <div class="a-one-card">
      <h2 class="a-one-h2">Jour 2</h2>
      <div>
        <div>
          <h4 class="a-one-h4">Étape 3</h4>
          <p class="a-one-p">
            Je vous envoie la version corrigée le plus rapidement possible, et je commence à coder le site. Pendant ce
            temps, s'il reste encore des corrections, vous me le faites savoir.
          </p>
        </div>
      </div>
    </div>
    <div class="a-one-card">
      <h2 class="a-one-h2">Jour 3</h2>
      <div>
        <div>
          <h4 class="a-one-h4">Étape 4</h4>
          <p class="a-one-p">Vous testez la version finale du site.</p>
        </div>
        <div>
          <h4 class="a-one-h4">Étape 5</h4>
          <p class="a-one-p">
            Avec votre accord, je mets le site en ligne. C’est bon ! En seulement 3 jours, votre site est visible
            partout dans le monde.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="a-one-section">
  <div class="a-one-acenter a-one-column">
    <h2 class="a-one-h2">À qui s’adresse cette offre ?</h2>
    <div class="a-one-row a-one-spacebetween a-one-paddingwidth15 a-one-width100">
      <button class="a-one-h4" onclick="changeImage('restaurant')">Restaurant</button>
      <button class="a-one-h4" onclick="changeImage('coiffeur')">Coiffeur</button>
      <button class="a-one-h4" onclick="changeImage('boutique')">Boutique</button>
      <button class="a-one-h4" onclick="changeImage('pme')">PME</button>
    </div>
  </div>
  <div class="a-one-imagecontainer a-one-width100 a-one-jcenter a-one-marginheight5">
    <img
      id="a-one-mainimage"
      src="https://cdn.shopify.com/s/files/1/0866/8695/7912/files/salon_de_coiffure.png?v=1729661467"
      alt="Exemple de salon de coiffure"
    >
  </div>
</section>

<section class="a-one-section">
  <h2 class="a-one-h2 a-one-width100 a-one-jcenter">Pourquoi une offre si extraordinaire ?</h2>
  <div class="a-one-width100 a-one-jcenter a-one-spacebetween">
    <div>
      <h3 class="a-one-h3 a-one-textcenter">Raison 1</h3>
      <h4 class="a-one-h4 a-one-textcenter a-one-width30">
        Je me lance et j’ai besoin de beaucoup d’avis sur les sites de freelancing.
      </h4>
    </div>
    <div>
      <h3 class="a-one-h3 a-one-textcenter">Raison 2</h3>
      <h4 class="a-one-h4 a-one-textcenter a-one-width30">
        J’ai besoin de m’entraîner sur beaucoup de projets pour avoir un grand portfolio.
      </h4>
    </div>
  </div>
  <div class="a-one-width100 a-one-acenter a-one-column">
    <h2 class="a-one-h2">Quelle garantie ?</h2>
    <h4 class="a-one-h4 a-one-textcenter">
      Vous ne payez qu’à la livraison du site. Si ça ne vous plaît pas, on ne le met pas en ligne et vous n’avez
      absolument rien perdu, et sinon je peux continuer à travailler dessus sans que le prix ne bouge.
    </h4>
  </div>
</section>

<section class="a-one-section a-one-paddingheight10" id="a-one-contact">
  <h2 class="a-one-h2">On commence quand ?</h2>
  <div class="a-header-bottom a-form-bottom a-one-width100 a-one-jcenter a-one-margin0">
    <a class="a-inline" href="mailto:tino@ploceus.fr">
      <p class="a-a a-a-helvetica">Écrivez nous directement :</p>
      <p class="a-a">tino@ploceus.fr</p>
    </a>
  </div>
</section>

<script>
  function changeImage(category) {
    const image = document.getElementById('a-one-mainimage');
    let newSrc = '';

    // Définir l'image en fonction de la catégorie
    switch (category) {
      case 'restaurant':
        newSrc = 'https://cdn.shopify.com/s/files/1/0866/8695/7912/files/restaurant_website.png?v=1729661486';
        break;
      case 'coiffeur':
        newSrc = 'https://cdn.shopify.com/s/files/1/0866/8695/7912/files/salon_de_coiffure.png?v=1729661467';
        break;
      case 'boutique':
        newSrc = 'https://cdn.shopify.com/s/files/1/0866/8695/7912/files/boutique_site.png?v=1729664326';
        break;
      case 'pme':
        newSrc = 'https://cdn.shopify.com/s/files/1/0866/8695/7912/files/pme-site.png?v=1729663530';
        break;
      default:
        newSrc = 'https://cdn.shopify.com/s/files/1/0866/8695/7912/files/restaurant_website.png?v=1729661486';
    }

    // Animation de fade out (disparition de l'image actuelle)
    gsap.to(image, {
      duration: 0.5,
      opacity: 0,
      onComplete: () => {
        // Changer l'image une fois que le fade out est terminé
        image.src = newSrc;

        // Animation de fade in (apparition de la nouvelle image)
        gsap.to(image, { duration: 0.5, opacity: 1 });
      },
    });
  }
</script>

{% schema %}
{
  "name": "A-One-page",
  "settings": [],
  "presets": [
    {
      "name": "A-One-page"
    }
  ]
}
{% endschema %}
