<div class="A-Projects">
  <div class="a-inline" style="margin-bottom:5vw;">
    <h2 class="a-h2">Nos meilleurs projets</h2>
    <h4 class="a-h4" style="width: 40%;">
      Voyez par vous-même ce dont nous sommes capables et imaginez vous à leur place
    </h4>
  </div>
  <div class="a-carousel-container">
    <div class="a-carousel">
      {% for block in section.blocks %}
        <div
          class="slide"
          onclick="expand(this)"
          style="background-image: url({{ block.settings.slide_image | img_url: '2048x2048' }}); background-size: cover;"
        >
          {{ block.settings.slide_text }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const slides = document.querySelectorAll('.slide');

    // Agrandir la première slide par défaut
    const firstSlide = slides[0];
    if (firstSlide) {
      gsap.to(firstSlide, {
        width: '70vw',
        duration: 1,
      });
    }

    const expand = (slide, i) => {
      // Réduire toutes les autres slides
      slides.forEach((it, ind) => {
        if (i !== ind) {
          gsap.to(it, {
            width: '16vw',
            duration: 1,
          });
        }
      });

      gsap.to(slide, {
        width: '70vw',
        duration: 1,
      });
    };

    slides.forEach((slide, i) => {
      slide.addEventListener('click', () => expand(slide, i));
    });
  });
</script>

{% schema %}
{
  "name": "A-Projects",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide project",
      "settings": [
        {
          "type": "text",
          "id": "slide_text",
          "label": "Slide Text",
          "default": "slide 1"
        },
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "A-Projects"
    }
  ]
}
{% endschema %}
